XDS_PROJECT_ID=W2EAQBA-HQI75XA_unicens2-binding
XDS_SDK_ID=poky-agl_aarch64_3.99.1+snapshot
XDS_SERVER_URL=localhost:8000

DOCKER_TARGET=docker-sdk

RSYNC_TARGET=root@192.168.168.11
RSYNC_PREFIX=./opt
PROJECT_DIR=/home/seb/tmp/unicens2-binding

